html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica";
	background: white;
}
article, aside, section, nav, figure, header, footer {
	display: block;
}

.wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 86px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
    
}

header img {
    padding: 0px 10px 0px 10px;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Grid-Size {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2em;
}

#sizePicker {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

input[type=number] {
    width: 4em;
    margin-left: 10px;
    margin-right: 10px;
}

input[type=color] {
    width: 4em;
    margin-left: 10px;
}

input[type=submit] {
    width: 10em;
    margin-left: 10px;
    margin-right: 10px;
}

input[type=reset] {
    width: 10em;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    font-size: 20px;
    font-family: "Helvetica";
    font-weight: normal;
    color: rgb(204, 204, 204);
}

.canvas-holder {
    display: flex;
    width: 100%;
    /* background-color: rgb(235, 235, 235); */
}
#pixelCanvas {
    width: 100%;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 76px;
    margin: 0 auto;
    margin-top: 15px;
    font-family: "Corbel";
    font-size: small;
    color: rgb(153, 153, 153);
    border-top: 1px solid rgb(235, 235, 235);
}

